footer {
  text-align: center;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: #00f;
}

footer a:hover {
  text-decoration: underline;
  color: #000;
}

.user_bar {
  text-align: center;
}

.user_bar a {
  font-weight: bold;
  text-decoration: none;
  color: #00f;
}

.user_bar a:hover {
  text-decoration: underline;
  color: #000;
}

.field_with_errors {
  margin-top: 5px;
  background-color: #F00;
	display: inline;
}

.field_with_errors label {
  color: #fff;
	padding: 2px;
	display: inline;
}

.field_with_errors input {
	border: 2px solid #F00;
}

#error_explanation {
  width: 382px;
  border: 2px solid #F00;
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: 10px;
	margin-top: -5px;
  background-color: #FFF;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #F00;
  color: #FFF;
}

#error_explanation p {
  color: #000;
	margin-bottom: 0;
	margin-top: 5px;
	padding: 5px;
}

#error_explanation ul {
  margin-top: 10px;
  margin-bottom: 5px;
}

#error_explanation ul li {
	padding: 0;
}