<header>
  
  <div class = "prepend-3 span-15">
    <%= link_to "Home", root_path %>
  </div>
  
  <div class = "span-6 last">
    <%= render 'layouts/user_bar' %>
  </div>
  
  <%# Spacer row %>
  <div class = "span-24 last">
    &nbsp;
  </div>
  
  <%# Flash message row %>
  <div class = "prepend-3 span-15 append-6 last">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>
  </div>

</header>